@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Bree+Serif&family=Frank+Ruhl+Libre&family=Roboto+Condensed:ital,wght@1,300&family=Rubik&family=Rubik+Mono+One&family=Ubuntu&display=swap');

body{
    background-color: #1b1b1b;
}

.blog, .article{
    position: relative;
    height: fit-content;
    padding-bottom: 0;
    color: #c4c2c2;
}

.article, .title{
    min-height: auto;
    height: fit-content;
    padding: 0 10px;
    white-space: normal;
}

.published{
    margin: 20px 0 60px;
    padding: 0 10px;
    text-transform: capitalize;
    font-style: italic;
    color: rgba(192, 189, 189, 0.5);
}

.published span{
    font-weight: 700;
    font-style: normal;
}

.title{
    color: #c4c2c2;
    font-family: 'Bree Serif';
}

.article *{
    margin: 30px 0;
    color: #c4c2c2;
}

.article img{
    max-width: 100%;
    max-height: 400px;
    display: block;
    margin: 30px auto;
    object-fit: contain;
}

.sub-heading{
    padding: 0 5vw;
    color: #c9c3c3;
    font-weight: 500;
    font-size: 40px;
    margin-top: 80px;
}

.article h2{
    font-family: 'Bitter';
    font-size: 1.5em;
    font-weight: 1800;
    font-style: italic;
}

.subtitle{
    font-family: 'Bitter';
    font-style: italic;
    font-size: 1.8em;
    margin-bottom: 5px;
}